@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.nav-link {
  @include text($font, 400, 24px, 30px, $color-white);
  transition: color 0.15s ease;
  text-decoration: none;

  &:hover {
    color: $color-red;
  }

  &_theme_active {
    color: $color-red;
  }
}
