@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.input {
  width: 350px;
  height: 40px;
  padding: 0 20px;
  border: 2px solid $color-background;
  @include text($font, 400, 18px, 24px, #9c9c9c);
  border-radius: 10px;
  background-color: #2d3434;
  box-shadow: inset -3px -3px 8px rgba(75, 75, 75, 0.35), inset 4px 4px 8px rgba(0, 0, 0, 0.35);

  &:focus {
    border: 2px solid #1fcfcb;
  }
}
