@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 48px;

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
  }

  &__box {
    display: grid;
    grid-gap: 24px;
    margin-bottom: 48px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    width: 500px;
  }

  &__name {
    @include text($font, 400, 24px, 34px, #9c9c9c);
    width: 300px;
  }

  &__span {
    @include text($font, 400, 24px, 30px, $color-white);
  }
}
