@import '../../assets/styles/variables';
@import "../../assets/styles/mixins";

.list-messages {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #212727;
  box-shadow: inset -1px -1px 1px rgba(11, 199, 233, 0.3),
  inset 3px 3px 8px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  width: 100%;
  height: 65vh;
  padding: 32px 16px 32px 32px;
  margin-bottom: 48px;

  &__box {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-y: auto;

    &::-webkit-resizer {
      background-repeat: no-repeat;
      width: 4px;
      height: 0;
    }

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-button {
      background-repeat: no-repeat;
      width: 5px;
      height: 0;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      background: #405b5b;
    }

    &::-webkit-scrollbar-track {
      background: #303737;
      border-radius: 8px;
    }
  }
}