@import '../../assets/styles/variables';
@import "../../assets/styles/mixins";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding:24px 40px 48px;

  .header__nav {
    display: flex;
    align-items: center;
    gap: 64px;
  }

  .header__block {
    display: flex;
    gap: 64px;
  }
}