@import '../../assets/styles/variables';
@import "../../assets/styles/mixins";

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 96px;
  width: 100%;

  &__title {
    @include text($font, 900, 144px, 160px, $color-white);
    margin-bottom: 8px;
  }

  &__span {
    @include text($font, 500, 30px, 36px, $color-white);
    margin-bottom: 8px;
  }

  &__description {
    @include text($font, 400, 18px, 24px, $color-white);
    text-align: center;
    max-width: 400px;
  }
}